In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [3]:
data = pd.read_csv('heart.csv')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [6]:
y = data['target']
x = data.drop('target',axis=1)
print(x.head())
print(y.head())

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   52    1   0       125   212    0        1      168      0      1.0      2
1   53    1   0       140   203    1        0      155      1      3.1      0
2   70    1   0       145   174    0        1      125      1      2.6      0
3   61    1   0       148   203    0        1      161      0      0.0      2
4   62    0   0       138   294    1        1      106      0      1.9      1

   ca  thal
0   2     3
1   0     3
2   0     3
3   1     3
4   3     2
0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [7]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

#we will use a standard scaler to scale the features for preprocessing
scaler = StandardScaler()
scale = scaler.fit(x_train)
x_train = scale.transform(x_train)
x_test = scale.transform(x_test)

In [8]:
#creating a logistic regression model

model = LogisticRegression()
model.fit(x_train,y_train)
pred = model.predict(x_test)

In [10]:
score = accuracy_score(y_test,pred)
score

0.7951219512195122

In [11]:
# creating a confusion matrix
confusion_matrix(y_test,pred)

array([[73, 29],
       [13, 90]], dtype=int64)

In [12]:
# extracting TN ,TP ,FP , FN
tn , fp , fn , tp = confusion_matrix(y_test , pred).ravel()
(tn,fp,fn,tp)

(73, 29, 13, 90)

In [13]:
# confusion matrix matrics

matrix = classification_report(y_test,pred)
print('classification report : \n',matrix)

classification report :
               precision    recall  f1-score   support

           0       0.85      0.72      0.78       102
           1       0.76      0.87      0.81       103

    accuracy                           0.80       205
   macro avg       0.80      0.79      0.79       205
weighted avg       0.80      0.80      0.79       205